h1 {
    color: #07075e;
}
div h1 {
    color: rgb(119, 20, 20);
}
.class1 p {
    color: red;
}
.class1{
    background-color: aqua;
    width: 400px;
    height: 300px;
    /* border: 5px solid black; */
    /* border: 5px double black; */
    /* border: 5px dotted black; */
    border:  5px dashed black;
    /* margin: 20px; */
    /* margin: 10px 20px 10px 15px; */
    margin: 20px 25px;
    /* padding: 15px; */
    padding: 15px 10px;
}
#id1{
    background-color: yellow;
    width: 400px;
    height: 300px;
    /* margin: 20px 30px; */
    margin: 30px auto;
    border: 3px solid green;
    border-top-left-radius: 8px;
    padding: 15px 30px;
}
#id1 p{
    color: darkblue;
}

#id1 p:hover{
    background-color: black;
}

#id1:hover{
    background-color: black;
}
/* Prednost prilikom dodele stilova ima id u odnosu na klasu. */
    /* color: green; */


.class2{
    color: purple;
}
/* id koristiti ako se pojavaljuje samo jednom u nekom tagu */
/* istu klasu mozemo na vise html tagova dodeliti. */