.class1{
    background-color: rgb(214, 168, 18);
    width: 450px;
    height: 600px;
    border-radius: 10px;
    margin: 30px auto;
    border: dotted 2px black;
}

.glavni{
    margin: 0px 40px;
}

h3{
    margin: 0px 40px;
}

body{
    background-color: rgba(243, 239, 7, 0.466);
}

div img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


